<footer class="bg-black-alpha-90 text-white px-4 py-2">
    <div class=" container">
        <div class="appear text-xl font-bold">
            <p class="mt-2">+20 1281380866</p>
            <p class="mt-2">email: sbishoy535@gmail.com</p>
            <p class="mt-2">gitHub: https://github/bishoy/saeed</p>
        </div>
        <div class="socail-icons flex gap-4 text-2xl">
            <fa-icon [icon]="facebook"></fa-icon>
            <fa-icon [icon]="twitter"></fa-icon>
            <fa-icon [icon]="instgram"></fa-icon>
            <fa-icon [icon]="github"></fa-icon>
            <fa-icon [icon]="linkedin"></fa-icon>
        </div>
    </div>
</footer>